<style type="text/css">
    body{}

    body{
        background-color: #2d3142;
    }

    h1{
        background-color: #7261a3;
        color: #dfe1f3 ;
        font-style: sans-serif;
        font-size: 60px;
    }

    h2{
        background-color: #7261a3;
        color: #dfe1f3 ;
        font-style: sans-serif;
        font-size: 30px;
    }
</style>